<div>
<table class="responsive-table">
        <thead>
          <tr>
              <th data-field="id">Email</th>
              <th data-field="name">Userrole</th>
              <th></th>
              <th></th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let user of userList | async" >
           
            <td style="padding-top:2px"> 
              <div class="input-field col s6">
                <input [(ngModel)]='user.email' disabled 
                  style="border-bottom: 1px solid black;
                         color: black;" 
                         id="last_name" type="text" class="validate">
              </div>
            </td>
            <td>
              <select [(ngModel)]='user.role' materialize="material_select">
                <option value="admin">Admin</option>
                <option value="visitor">Visitor</option>
                <option value="inventor">Inventor</option>
              </select>
            </td>
            <td >
              <button class="btn waves-effect waves-light" 
                  (click)="resetPassword(user)" 
                  title="Send a new Password by email to {{user.email}}">
                  <i class="material-icons right">send</i>
                    Reset Password
              </button>
            </td>
            <td style="width:20px;">
              <a (click)="SaveUserChanges(user)" 
                title="Save Changes"
                 class="waves-effect waves-light btn">
                  <i style="font-size: 25px" class="material-icons ">save</i>
              </a>
            </td>
            <td style="width:20px;">
              <a (click)="deleteUser(user)" 
                  
                 title="Delete User"
                 style="background-color:red; "
                 class="waves-effect waves-light btn">
                  <i style="font-size: 25px" class="material-icons ">delete</i>
               </a>
            </td>
          </tr>

        </tbody>
      </table>
      <div>
        <select>
          <option value="3">asdf</option>
        </select>
      </div>
</div>