<h1> Welcome back sir! </h1>
<div class="row">
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">healing</i><br> Systemhealth</p>
        <h4 class="card-stats-number">{{ systemHealth }}</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">trending_up</i><br> Systemload</p>
        <h4 class="card-stats-number">{{ systemLoad }}</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">people</i><br> Companies</p>
        <h4 class="card-stats-number">{{ companies }}</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">person</i><br> Users</p>
        <h4 class="card-stats-number">{{ customerUsers }}</h4>
      </div>
    </div>
  </div>
</div>

<p-dataTable *ngIf="devicesCompany" [value]="devicesCompany | async">
  <p-column field="name" header="NAME OF COMPANY" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
  <p-column field="devices" header="AMOUNT OF DEVICES" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
</p-dataTable>
  