<div class="row">
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">healing</i> Systemstatus</p>
        <h4 class="card-stats-number">{{ systemStatus }}</h4>
        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> {{userRole}} <span class="blue-grey-text text-lighten-5">means ok ;-)</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">trending_up</i> Systemload</p>
        <h4 class="card-stats-number">{{ systemLoad }}</h4>
        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> arround nothing <span class="blue-grey-text text-lighten-5"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">youtube_searched_for</i> Scans</p>
        <h4 class="card-stats-number">{{ scans }}</h4>
        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 80% <span class="blue-grey-text text-lighten-5">from yesterday</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">trending_down</i> Failed</p>
        <h4 class="card-stats-number">{{ errors }}</h4>
        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i>  <span class="blue-grey-text text-lighten-5">Thats awesome!</span>
        </p>
      </div>
    </div>
  </div>
</div>

<button (click)="provider.login()">Logon</button>
<button (click)="provider.logout()">Logout</button>
<h2 *ngIf="provider.isLogedIn()">{{(provider.user | async).password.email }}</h2>
<h2 *ngIf="provider.isLogedIn()">{{provider.userRole | async}}</h2>

<h1>Registered Devices</h1>
<scanList></scanList>