:host {
  display: block;
  padding: 16px 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

scanList{
  margin-top: 24px;
}


app-unit-history-chart{
  max-width: 300px;
}