<div class="row">
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">healing</i><br> Systemstatus</p>
        <h4 class="card-stats-number">{{ systemStatus }}</h4>
        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> <span class="blue-grey-text text-lighten-5"><a href="/SpecialDisco.zip">download monitoring app</a></span>
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">trending_up</i><br> Systemload</p>
        <h4 class="card-stats-number">{{ systemLoad }}</h4>
        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i>Thats Okay<span class="blue-grey-text text-lighten-5"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">youtube_searched_for</i><br> Scans</p>
        <h4 class="card-stats-number">{{ scans }}</h4>

      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">trending_down</i> <br> Failed</p>
        <h4 class="card-stats-number">{{ errors }}</h4>
        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> {{errorPercentage}}% <span class="blue-grey-text text-lighten-5"> error rate, congrats!</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-content blue-grey white-text">
        <p class="card-stats-title"><i class="medium material-icons">settings_system_daydream</i> <br> Different operating systems</p>
        <h4 class="card-stats-number">2</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l6">
    <div class="card">
      <app-unit-history-chart [data]="options" [title]="historyTitle"> </app-unit-history-chart>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 l6">
    <div class="card">
      <app-unit-history-chart [data]="optionsChanges" [title]="Changes"> </app-unit-history-chart>
    </div>
  </div>
</div>

<h1>Registered Devices</h1>
<scanList></scanList>