<nav>
  <div class="nav-wrapper">
    <a href="javascript:void(0)" class="brand-logo hide-on-med-and-down" style="padding-left: 24px;">SysVentory</a>
    <ul id="slide-out" class="side-nav">
      <li *ngIf="isAdmin"><a [routerLink]="['adminDashboard']">Admin Dashboard</a></li>
      <li *ngIf="!isAdmin"><a [routerLink]="['dashboard']">Dashboard</a></li>
      <li *ngIf="!isAdmin"><a [routerLink]="['scan']">Scans</a></li>
      <li><a [routerLink]="['setting']">Settings</a></li>
      <li>
        <a *ngIf="userService.isLogedIn()" (click)="userService.logout()" [routerLink]="['login']">Logout</a>
        <a *ngIf="!userService.isLogedIn()" [routerLink]="['login']">Login</a>
      </li>
    </ul>
    <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


    <ul class="right ">
      <li *ngIf="isAdmin"><a [routerLink]="['adminDashboard']">Admin Dashboard</a></li>
      <li *ngIf="!isAdmin"><a [routerLink]="['dashboard']">Dashboard</a></li>
      <li *ngIf="!isAdmin"><a [routerLink]="['scan']">Scans</a></li>
      <li><a [routerLink]="['setting']">Settings</a></li>
      <li>
        <a *ngIf="userService.isLogedIn()" (click)="userService.logout()" [routerLink]="['login']">Logout</a>
        <a *ngIf="!userService.isLogedIn()" [routerLink]="['login']">Login</a>
      </li>
    </ul>

  </div>
</nav>
<div id="contentWrapper" class="content">
  <router-outlet></router-outlet>
</div>