<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['dashboard']">Dashboard</a></li>
        <li><a [routerLink]="['scan']">Scans</a></li>
        <li><a [routerLink]="['setting']">Settings</a></li>
      </ul>
      <ul materialize="sideNav" class="side-nav" id="mobile-demo">
        <li><a [routerLink]="['dashboard']">Dashboard</a></li>
        <li><a [routerLink]="['scan']">Scans</a></li>
        <li><a [routerLink]="['setting']">Settings</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>