<div class="row  valign-wrapper">
  <form class="valign col s12">
    <div class="row valign">
      <div class="input-field col s6" valign>
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" [(ngModel)]="username" class="validate">
        <label for="icon_prefix">Email</label>
      </div>
    </div>
    <div class="row valign">
      <div class="input-field col s6 valign">
        <i class="material-icons prefix">lock</i>
        <input id="password" [(ngModel)]="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div>
      <p *ngIf="notValid" style="color:red">
        {{notValid}}
      </p>
    </div>
    <div class="row center">
   <button class="btn waves-effect waves-light center" (click)="doLogin()" type="submit" name="action">Login
    <i class="material-icons right">send</i>
  </button>
  <span style="margin:0 20px;"></span>
  <button class="btn waves-effect waves-light center" (click)="register()" type="submit" name="action">Register
    <i class="material-icons right">play_arrow</i>
  </button>
  </div>
  </form>
</div>
